.main
  padding: 8rem 0
  background-image: url(../assets/img/layered-waves-haikei.svg)
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  &-frame
    position: absolute
    bottom: -5px
    right: 0
    left: 0
.product
  &-main
    &-pic
      width: 250px
      margin-bottom: 3rem
  &-title
    display: none
  &-container
    display: flex
    align-items: center
    justify-content: space-between
    &-item
      display: flex
      align-items: center
      flex-direction: column
  &-ingredient
    display: flex
    flex-direction: column
    align-items: center
    padding: 2rem 3rem
    background-color: #ffffffbf
    border-radius: 50%
    margin-bottom: 2rem
    box-shadow: 0 0 10px $shadow-light-color
    figure
      margin: 0
      display: flex
      flex-direction: column
      align-items: center
    &-pic
      width: 120px
    &-title
      text-transform: lowercase
      color: $shadow-dark-color
      margin: 10px 0
      font-style: italic
    &-button
      padding: 1rem 6rem
